In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
data = pd.read_csv('Iris.csv', header=None)
data.head()

     0    1    2    3       4
0  5.1  3.5  1.4  0.2  Setosa
1  4.9  3.0  1.4  0.2  Setosa
2  4.7  3.2  1.3  0.2  Setosa
3  4.6  3.1  1.5  0.2  Setosa
4  5.0  3.6  1.4  0.2  Setosa

In [44]:
data.columns = ['SepalLengthcm', 'SepalWidthcm', 'PetalLengthcm', 'PetalWidthcm', 'Species']
data.head()

   SepalLengthcm  SepalWidthcm  PetalLengthcm  PetalWidthcm Species
0            5.1           3.5            1.4           0.2  Setosa
1            4.9           3.0            1.4           0.2  Setosa
2            4.7           3.2            1.3           0.2  Setosa
3            4.6           3.1            1.5           0.2  Setosa
4            5.0           3.6            1.4           0.2  Setosa

In [45]:
data.shape

(150, 5)

In [46]:
data.isna().sum()

SepalLengthcm    0
SepalWidthcm     0
PetalLengthcm    0
PetalWidthcm     1
Species          0
dtype: int64

In [47]:
data['Species'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

## **Create data subsets for different species**

In [48]:
data_setosa = data[data['Species'] == 'Iris-setosa']
data_setosa.head()

Empty DataFrame
Columns: [SepalLengthcm, SepalWidthcm, PetalLengthcm, PetalWidthcm, Species]
Index: []

In [49]:
data_versicolor = data[data['Species'] == 'Iris-versicolor']
data_versicolor.head()

Empty DataFrame
Columns: [SepalLengthcm, SepalWidthcm, PetalLengthcm, PetalWidthcm, Species]
Index: []

In [50]:
data_virginica = data[data['Species'] == 'Iris-virginica']
data_virginica.head()

Empty DataFrame
Columns: [SepalLengthcm, SepalWidthcm, PetalLengthcm, PetalWidthcm, Species]
Index: []

## **Merge two subsets**

In [51]:
data_merged = pd.concat([data_setosa, data_versicolor])
data_merged

Empty DataFrame
Columns: [SepalLengthcm, SepalWidthcm, PetalLengthcm, PetalWidthcm, Species]
Index: []

In [52]:
print('Shape of setosa subset : ')
data_setosa.shape

Shape of setosa subset :

(0, 5)

In [53]:
print('Shape of versicolor subset : ')
data_versicolor.shape

Shape of versicolor subset :

(0, 5)

In [54]:
print('Shape of merged subset : ')
data_merged.shape

Shape of merged subset :

(0, 5)

## **Sort Data Petal Length**

In [55]:
sort_petal_length = data.sort_values('PetalLengthcm', ascending=False)
sort_petal_length.head()

     SepalLengthcm  SepalWidthcm  PetalLengthcm  PetalWidthcm    Species
118            7.7           2.6            6.9           2.3  Virginica
117            7.7           3.8            6.7           2.2  Virginica
122            7.7           2.8            6.7           2.0  Virginica
105            7.6           3.0            6.6           2.1  Virginica
131            7.9           3.8            6.4           2.0  Virginica

In [56]:
sort_sepal_length = data.sort_values('SepalLengthcm', ascending=False)
sort_sepal_length.head()

     SepalLengthcm  SepalWidthcm  PetalLengthcm  PetalWidthcm    Species
131            7.9           3.8            6.4           2.0  Virginica
122            7.7           2.8            6.7           2.0  Virginica
118            7.7           2.6            6.9           2.3  Virginica
117            7.7           3.8            6.7           2.2  Virginica
135            7.7           3.0            6.1           2.3  Virginica

## **Transposing Data**

In [57]:
data_transpose = data.transpose()
data_transpose

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
SepalLengthcm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidthcm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLengthcm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidthcm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,NaN,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,...,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica

## **Melting Data to long format**

In [58]:
data_melted = pd.melt(data, id_vars=['SepalLengthcm', 'PetalLengthcm', 'Species'])
data_melted

     SepalLengthcm  PetalLengthcm    Species      variable  value
0              5.1            1.4     Setosa  SepalWidthcm    3.5
1              4.9            1.4     Setosa  SepalWidthcm    3.0
2              4.7            1.3     Setosa  SepalWidthcm    3.2
3              4.6            1.5     Setosa  SepalWidthcm    3.1
4              5.0            1.4     Setosa  SepalWidthcm    3.6
..             ...            ...        ...           ...    ...
295            6.7            5.2  Virginica  PetalWidthcm    2.3
296            6.3            5.0  Virginica  PetalWidthcm    1.9
297            6.5            5.2  Virginica  PetalWidthcm    2.0
298            6.2            5.4  Virginica  PetalWidthcm    2.3
299            5.9            5.1  Virginica  PetalWidthcm    1.8

[300 rows x 5 columns]

## **Casting data to wide format**

In [59]:
casting = pd.pivot_table(data, index=['Species'])
casting.head()

            PetalLengthcm  PetalWidthcm  SepalLengthcm  SepalWidthcm
Species
Setosa              1.462      0.246939          5.006         3.428
Versicolor          4.260      1.326000          5.936         2.770
Virginica           5.552      2.026000          6.588         2.974